* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 20px;
  color: #23272a;
}

header{
  height: 80px;
}


.container{
  width: 90%;
  max-width: 1180px; 
  margin: 0 auto;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.btn{
  font-size: 14px;
  color: black;
  padding: 10px 15px;
  background-color: white;
  text-decoration: none;
  border-radius: 40px;
}

.btn.big{
  font-size: 18px;
  padding: 15px 20px;
}

.btn.black{
  background-color: black;
  color: white;
}

.btn:hover{
  color:cornflowerblue;
}



/* HEADER */
header{
  height: 80px;
  background-color: #3161E0;
  line-height: 80px;
}

/* logo */
.logo, .main-nav{
  float: left;
}

.logo img{
  vertical-align: middle;
}

.main-nav{
  width: calc(100% - 202px);
  text-align: center;
}


/* menu */
.main-nav ul{
  list-style: none;
}

.main-nav ul li{
  padding: 0 15px;
  display: inline-block;
}

.main-nav ul li a{
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.main-nav ul li a:hover{
  text-decoration: underline;
}

#accedi{
  float: right;
}

/* jumbo */

.jumbotron{
  height: 547px;
  background-image: url('../img/jumbo.png');
  background-size: cover;
}

.jumbotron .container{
  max-width: 800px;
  color: white;
  text-align: center;
  padding-top: 100px;
}

.jumbotron h1{
  font-size: 53px;
  margin-bottom: 40px;
}

.jumbotron p{
  margin-bottom: 30px;
  line-height: 35px;
}

.jumbotron .btn:first-of-type{
  margin-right: 20px;
}

/* main */

.block1{
  background-color: white;
  width: 90%;
  margin: 30px auto 100px;
}

.left-img{
  float: left;
  margin: auto;
  width: 55%;
}

.right-text{
  float: left;
  padding-top: 30px;
  max-width: 500px;
}

h3{
  font-size: 50px;
  margin-bottom: 10px;
  color: black;
}






/* footer{
  height: 700px;
  width: 100%;
  background-color: dimgrey;
}

.bottom{
  width: 80%;
  max-width: 1180px;
  height: 100%;
  margin: 20px auto;
}

.bottom ul{
  list-style: none;
}

.categoria{
  color: #778EE2;
}

.bottom ul li{
  padding-bottom: 10px;
}

.bottom ul li a{
  text-decoration: none;
  color: white;
}

.prodotto, .compagnia, .risorse, .norme, .intro{
  float: left;
  margin: 80px 40px 0 0;
  font-size: 15px;
}


.intro h4{
  font-size: 30px;
  color: #778EE2;
}

.lingua{
  color: white;
}

.italiano{
color: white;
} 
 */
